#audio {
    display: flex;
    justify-content: center;
}

#button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#volumeDown {
    border-radius: 24px;
    margin-right: 70px;
}

#volumeDown:hover {
    cursor: pointer;
}

#volumeUp {
    border-radius: 24px; 
    margin-left: 70px;
}

#volumeUp:hover {
    cursor: pointer;
}

#timeLength {
    border-radius: 24px;
}

#timeLength:hover {
    cursor: pointer;
}